<!DOCTYPE HTML>
<!-- filename backbone_tutorial_frame.html
last edited 04-10 2014-03-11
-->
<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <title>OOI Backbone implementation tutorial</title>

        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />

        <link rel="stylesheet" href="/static/bootstrap/less/bootstrap.min.css" type="text/css" />

        <link rel="stylesheet" class="salt" href="/static/css/salt.css" type="text/css"/>
        
	    <link rel="stylesheet" type="text/css" href="/static/css/ooinet-03.css"/>

        <!-- Vendor JavaScripts -->
        <script src="/static/js/jquery-1.9.1.min.js"> </script>

        <script src="/static/js/underscore-1.4.4.min.js "> </script>
        <script src="/static/js/backbone-1.0.min.js"> </script>
 
        <!-- UX JavaScripts --> 
        <script src="/static/js/tutorial-init.js"> </script>
        <script src="/static/js/tutorial-models.js"> </script>
        <script src="/static/js/tutorial-views.js"> </script>
	</head>

	<body>
		<div id="header" align="left">

		</div>
		<div id="subheader" align="center">

		</div>

	    <div id="left" align="left">

	    </div>

	    <div id="dynamic-container" align="left">

	    </div>

        <script>
          $(function(){
          	TUTORIAL_UX.init();
          });
        </script>
	</body>
</html>
