<!DOCTYPE HTML>
<!-- filename ion_ux3.html proto=ion_ux2.html
last edited 04-13 04-09 03-05 2014-03-02
-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>OOINet</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <!-- <link rel="stylesheet" href="/static/css/jquery-ui-1.8.6.custom.css" type="text/css" /> -->
    <link rel="stylesheet" href="/static/css/jscrollpane.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css" type="text/css" />
    <link rel="stylesheet" href="/static/bootstrap/less/bootstrap.min.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Signika:300,400,600,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700' rel='stylesheet' type='text/css' />


    <link rel="stylesheet" href="/static/css/common.css" type="text/css" />

    {% if static_assets %}
        <link rel="stylesheet" class="pepper" href="/static/css/pepper_images.css" disabled="true" />
        <link rel="stylesheet" class="salt" href="/static/css/salt_images.css" />
    {% else %}
        <link rel="stylesheet/less" class="pepper" href="/static/css/pepper_images.less" disabled="true" />
        <link rel="stylesheet/less" class="salt" href="/static/css/salt_images.less" />
    {% endif %}

    <link rel="stylesheet" class="pepper" href="/static/css/pepper.css" type="text/css" disabled="true" />
    <link rel="stylesheet" class="salt" href="/static/css/salt.css" type="text/css"/>
    
    <link rel="stylesheet" type="text/css" href="styles/ooinet-04.css">
    {% block extra_css %}{% endblock %}
</head>

<body>
	<div id="header" align="center">header</div>
	<div id="left-subheader" align="center">left-subheader</div>
	<div id="main-subheader" align="left">main-subheader</div>

    <div id="left">left side menu here<br />
    </div>
    <div id="main">
       <div id="upper-main">&nbsp;
	   </div>
	   <div id="lower-main">&nbsp;
	   </div>
	</div>
</body>
</html>
